body{
  font-size: 1.3em;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Jura', sans-serif;
  display: flex;
  background-color: rgb(226, 223, 218);
}
a{
  display: block;
  cursor: pointer;
}
#page{
  margin: 1.5em;
}
#page>*{
  line-height: 1.3em;
}
img{
  height: 100%;
}
.wrapper-img{
 height: 400px;
}